<div class="top-bar">
  <h1>Customer Feedback</h1>
  <h3>Help us improve our service</h3>
</div>
<mat-dialog-content>
<form  #feedForm = "ngForm">
    <form class="feedback-form">
        <mat-form-field class="input-fb" appearance="fill">
          <mat-label>Leave a comment</mat-label>
          <input class="text-field" type="text">
        </mat-form-field>
      </form>
</form>
</mat-dialog-content>

<div class="bottom-bar">
  <mat-dialog-actions>
      <button mat-stroked-button (click)="onSubmitFB(feedForm)">Submit Feedback</button>
      <button mat-stroked-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>