<h1>Add Products</h1>
<h3>Input fields below and then click <b>Submit</b> to add a new product.</h3>
<div class = formcontainer>
<form  #itemForm="ngForm" (submit)="onAddItem(itemForm)">
  <div class = "topfield">
    <input type="text" placeholder="Enter product name..." size="50" ngModel name = "ProductName" required>
  </div>
  <div class = "inputfield">
    <input type="text" placeholder="Enter product description..." size="50" ngModel name = "ProductDisc" required>
  </div>
  <div class = "inputfield">
    <input type="text" placeholder="Enter product price..." size="50" ngModel name = "ProductPrice" required>
  </div>
  <div class = "inputfield">
    <input type="text" placeholder="Enter product category..." size="50" ngModel name = "ProductCat" required>
  </div>
  <div class = "inputfield">
    <input type="text" placeholder="Enter product quantity..." size="50" ngModel name = "ProductQuant" required>
  </div>
  <div class = "inputfield">
    <input type="text" placeholder="Enter product image description..." size="50" ngModel name = "ProductImg" required>
  </div>  
  <div class = "bottomfield">
    <button type="submit" color = "accent" class="submitbtn">Submit</button>
  </div>
</form>
</div>
