.top-bar {
  display: flex;
  flex-direction: row;
  background-color: #FFDB58;
  padding: 5px;
  align-items: center;
}

.topfield {
  padding: 2rem 2rem 1rem;
}

.inputfield {
  padding: 1rem 2rem 1rem;
}

.formcontainer {
  margin-top: 2rem;
  background: var(--color-light);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  width: 80%;
 
}

.formcontainer:hover{
  box-shadow: none;
}

.submitbtn {
  top:1rem;
  border-radius: var(--card-border-radius);
  color: black;
  padding: 8px 16px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 3rem;
  margin-right: 2rem;
  width:12%; 
  margin-left:44%;
  margin-right:44%;
}

.example-full-width {
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
}

h3 {
  font-size: 0.87rem;
  font-family: 'Poppins', sans-serif;
}

