<h1>Add Products</h1>
<h3>Input fields below, upload image file, and then click <b>Submit</b> to add a new product.</h3>
<div class = formcontainer>
<form >
  <div class = "topfield">
    <input type="text" placeholder="Enter product name..." size="50" >
  </div>
  <div class = "inputfield">
    <input type="text" placeholder="Enter product description..." size="50">
  </div>
  <div class = "inputfield">
    <input type="text" placeholder="Enter product price..." size="50">
  </div>
  <div class = "inputfield">
    <input type="text" placeholder="Enter product category..." size="50">
  </div>
  <div class = "inputfield">
    <input type="text" placeholder="Enter product quantity..." size="50">
  </div>
  <div class = "bottomfield">
    <input type="file">
    <button type="submit" class="submitbtn">Submit</button>
  </div>
</form>
</div>
