<div class="top-bar">
    <mat-dialog-actions >
      <button mat-stroked-button mat-dialog-close>X</button>
    </mat-dialog-actions>
  
    <h1>Add Category</h1>
    <h3>Input fields below and then click <b>Save Category</b> to save.</h3>
</div>

<form  #catForm = "ngForm">
    <div class = "topfield">
        <mat-form-field appearance="outline" >
            <mat-label>Category</mat-label>
            <input type="text" matInput ngModel name = "CategoryName" required>
          </mat-form-field>
      </div>
      <div class="bottom-bar">
        <mat-dialog-actions>
            <button mat-stroked-button (click)="onAddCategory(catForm)">Add Category</button>
          </mat-dialog-actions>
      </div>
</form>