<!-- <div class="container">
  <div class="store-info">
    <div class="top">
      <h1>Store Details 
        <button mat-raised-button (click)="onFeedback()" id="on-create-btn">
          <mat-icon>feedback</mat-icon>
      </button>
      </h1>
      <h3>Display store information here</h3>
    </div>

    <div class="bot">
      <pre *ngFor="let info of this.storeInfo">
        Cellphone Num : {{this.storeInfo[0].cellphone}}
        City          : {{this.storeInfo[0].city}}
        Details       : {{this.storeInfo[0].details}}
        State         : {{this.storeInfo[0].state}}
        Street Address: {{this.storeInfo[0].streetAdd}}
        Telephone     : {{this.storeInfo[0].telephone}}
      </pre>
    </div>
  </div>

  <div class="map-container">
    
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15722.518375949354!2d123.6053541!3d9.8814102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd3b3125abd92b23c!2sRomel&#39;s%20mini%20mart!5e0!3m2!1sen!2sph!4v1653451231980!5m2!1sen!2sph" 
    style="border:0;" 
    
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</div> -->

<div class="container">
 <div class="store-info">
  
  <div class="top">
    <h1>STORE DETAILS</h1>
  </div>

  <div class="bot">
    <pre *ngFor="let info of this.storeInfo">
    Cellphone Num :   {{this.storeInfo[0].cellphone}}
    City :   {{this.storeInfo[0].city}}
    Details :   {{this.storeInfo[0].details}}
    Province :   {{this.storeInfo[0].state}}
    Street Address :   {{this.storeInfo[0].streetAdd}}
    Telephone :   {{this.storeInfo[0].telephone}}</pre>
  </div>
 </div>

 <div class="map-container">
  <iframe
  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15722.518375949354!2d123.6053541!3d9.8814102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd3b3125abd92b23c!2sRomel&#39;s%20mini%20mart!5e0!3m2!1sen!2sph!4v1653451231980!5m2!1sen!2sph" 
  allowfullscreen="" 
  loading="lazy" 
  referrerpolicy="no-referrer-when-downgrade">
  </iframe> 
 </div>

 <div class="cust-feed">
   <!-- <div class="top">
    <form  #feedForm = "ngForm">
      <form class="feedback-form">
          <mat-form-field class="input-fb" appearance="fill">
            <mat-label>Leave a comment</mat-label>
            <input class="text-field" type="text">
          </mat-form-field>
        </form>
    </form>
   </div> -->
    <div class="top">
      <h1>FEEDBACK</h1>
    </div>
    <form #feedform = "ngForm">
      <div class="mid">
      <mat-form-field>
        <input type="text" matInput ngModel name="feedback" Required>
      </mat-form-field>
      </div>
      <div class="bot">
        <button mat-stroked-button (click)="onSubmitFB(feedform)">Submit Feedback</button>
      </div>
    </form>
  
 </div>


</div>