<!-- <div class="right">
  <div class="right-top">
    <button id="toggle-sidebar">
      <span class="material-icons">menu</span>
    </button>
    <div class="toggle-theme">
      <span class="material-icons active">light_mode</span>
      <span class="material-icons">dark_mode</span>
    </div>
    <div class="profile">
      <div class="info">
        <small>Store Owner</small>
        <p>Romel</p>
      </div>
      <div class="profile-pic">
        <img src="./assets/sample_profile.jpg">
      </div>
    </div>
  </div>

  <h2>Notes</h2>
  <textarea id="notes"
   placeholder="Click here and begin typing to write down notes.."
   spellcheck="false">
 </textarea>
</div> -->
