<aside>
    <div class="topbar">
        <div class="logo">
          <img src="./assets/romels_yellow_nocart.png">
        </div>
        <mat-form-field class="search">
            <input type="text" matInput placeholder="Search product">
        </mat-form-field>
        <a href="#">
            <h3>Home</h3>
          </a>
          <a href="#">
            <h3>All Products</h3>
          </a>
          <a href="#">
            <h3>Categories</h3>
          </a> 
      </div>
          <span class="material-icons">shopping_bag</span>
</aside>