
/*Hidden section*/
aside {
  height: 100vh;
  background: var(--color-background);
  position: fixed;
  left: 0;
  padding-left:20px;
  padding-right:30px;
}

/*Will contain logo and close sign.*/
aside .topbar {
  background: var(--color-yellow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}


/*hide button on desxtop*/
@media screen and (min-width:650px) {
  aside .topbar .close {
    display: none;
  }
}

aside .logo img {
  margin-left: 1rem;
  height: 4.4rem;
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 2rem;
}

/*Description next to icons*/
aside .sidebar h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

/*For each row item in the sidebar*/
aside .sidebar a {
  display: flex;
  gap: 0.5rem;
  margin-left: 1rem;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
  color: var(--color-info-dark);
}

aside .sidebar a span{
  transition: all 300ms ease;
}

aside .sidebar a.active {
  color: var(--color-primary);
  background: var(--color-light);
  margin-left: 0;
}

aside .sidebar a.active:before {
  background: var(--color-primary);
  content: '';
  height: 100%;
  width: 6px;
}

aside .sidebar a.active span {
  color: var(--color-primary);
  margin-left: 2px;
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

/*Log out nav separated from other navs*/
aside .sidebar button:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

/*Account Profile nav separated from other navs*/
aside .sidebar button {
  color: var(--color-info-dark);
  position: absolute;
  bottom: 8rem;
  width: 100%;
}


button{
    color: var(--color-info-dark);
    position: absolute;
    bottom: 8rem;
    width: 100%;
}

button:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}