table {
    width: 100%;
}

.mat-column-name, .mat-column-price, .mat-column-category, .mat-column-availability{
    width: 15%;
    padding-right: 10px;
}

.mat-form-field {
    font-size: 14px;
    width:50%;
}
  
td, th {
    width: 25%;
}

div div button {
    height:60px;
    width: 60px;
    margin-left: 10px;
}
div {
    justify-content: space-between;
}
#edit-inventory-btn.active{
  background-color: yellow;
}

#on-create-btn:disabled {
  background-color: lightgray;
}

.del-btn:hover, .edit-btn:hover {
  background-color: yellow;
}

img {
  width: 40px;
  height: 40px;
}

mat-cell{
  height: 100px;
}