
  <div class="topbar">
      <div class="logo">
        <img src="./assets/romels_yellow_nocart.png">
      </div>

      <div class="nav-links">
 
         <a routerLink="shop">
           <span class="material-icons">shopping_bag</span>
           <div><h3>Shop</h3></div>
         </a>

         <a routerLink="details">
          <span class="material-icons">phone</span>
          <div><h3>Details</h3></div>
        </a>

        <a routerLink="cart">
          <span class="material-icons">shopping_cart</span>
          <div><h3>Cart</h3></div>
        </a>
        
      </div>   

  </div>

   <!--    <mat-form-field class="search">
          <input type="text" matInput placeholder="Search product">
      </mat-form-field> -->
      
      
        
 
  