<h1>Inventory Dashboard</h1>
<h3> Hello <b>Romel</b>, what would you like to do today?</h3>
<div class="action-cards">
  <a routerLink ="/add-products">
    <div class="add-products">
      <span class="material-icons">add_shopping_cart</span>
      <h2> Add Products </h2>
    </div>
  </a>
  <a href = "#">
    <div class="remove-products">
      <span class="material-icons">remove_shopping_cart</span>
      <h2> Remove Products </h2>
    </div>
  </a>
  <a routerLink="/view-products">
    <div class="view-products">
      <span class="material-icons">inventory_2</span>
      <h2> View Products </h2>
    </div>
  </a>
  <a href = "#">
    <div class="edit-products">
      <span class="material-icons">edit</span>
      <h2> Edit Products </h2>
    </div>
  </a>
</div>
