<div class="top-bar">
    <div>
        <h1>Dashboard</h1>
        <h3> Hello <b>Romel</b>, this is your Dashboard</h3>
    </div>
</div>

<br>
<br>
<div class="dash-card">
    <div class="display">
        <div>
            <h1>Inventory Details</h1>
        </div>
    </div>
    <div class="dash-item">
        Total Products Count = {{this.totalProducts}}
    </div>
    <div class="dash-item">
        Total Available Products Count = {{this.availableProducts}}
    </div>
    <div class="dash-item">
        Total Unavailable Products Count = {{this.unavailableProducts}}
    </div>


</div>