.right {
  margin-top: 1.4rem;
}

.right-top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

/*hide button on desxtop*/
@media screen and (min-width:650px){
  .right-top button {
    display: none;
  }
}

.right-top .toggle-theme {
  background: var(--color-light-toggler);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 3.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.right-top .toggle-theme span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-top .light-mode {
  color: white;
}

.right-top .toggle-theme span.active {
  color: white;
  background: var(--color-primary);
  border-radius: var(--border-radius-1);
}

.right-top .profile {
  display: flex;
  gap: 2rem;
  text-align: right;
}

.profile-pic {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.info {
  color: var(--color-info-light);
}

.right h2 {
  color: var(--color-dark);
}

.right #notes {
  width: 100%;
  margin-top: 1.5rem;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: var(--card-shadow);
  background: var(--color-white);
  color: var(--color-notes);
  font-size: 14px;
  resize: none;
}

.right #notes:hover {
  box-shadow: none;
}

/* ------------ STYLES FOR MOBILE  ------------ */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    left: -100%;
    background: var(--color-background);
    width: 18rem;
    z-index: 3; /*sits on top of all layers*/
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }

  @keyframes showMenu {
      to {
        left: 0;
      }
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4 rem;
  }

  aside .close {
    display: inline-block;
    cursor: pointer;
  }

  .middle-part {
    margin-top: 7rem;
    padding: 0 1.2rem;
    z-index: 1;
  }

  .middle-part .action-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .middle-part .action-cards > a span {
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    font-size: 2.6rem;
    text-align: center;
    display: block;
  }

  .middle-part .action-cards > a h2 {
    font-size: 1rem;
    text-align: center;
  }

  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right-top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 1.8rem;
    height: 4.6rem;
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 0.2rem 0.2rem var(--card-shadow);
    background: var(--color-header-mobile);
  }

  .right-top .toggle-theme {
    width: 4.4rem;
    position: absolute;
    left: 50%;
  }

  .right .profile .info {
    display: none;
  }

  .right-top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }

  .right .right-top button span {
    font-size: 2rem;
  }

}
